.clients {
    padding-bottom: 94px;
    padding-top: 94px;
    margin-right: auto;
    margin-left: auto;
}

.clients__list {
    list-style: none;
    display: flex;
    margin-top: 50px;
    padding: 0;
}

.clients__title {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
}

.clients__list {
    display: flex;
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color 250ms $time-function,
        fill 250ms $time-function;
        &:hover,
        &:focus{
            border-color: $blue-color;
            fill: $blue-color;
        }
}



.clients__img {
    width: 106px;
    height: 60px;
}