.clients {
    padding-bottom: 60px;
    padding-top: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
 
}



.clients__title {
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.clients__list {
    display: flex;
 
    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
    
    }
}



.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color 250ms $time-function,
        fill 250ms $time-function;
        &:hover,
        &:focus{
            border-color: $blue-color;
            fill: $blue-color;
        }
}



.clients__img {
    width: 106px;
    height: 60px;
}
.clients__item {

    @media screen and (max-width: 767px) {
        margin: 15px;
        width: calc((100% - 60px) / 2);
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 90px) / 3);
        margin: 15px;
    }
    
    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-right: 30px;
        }
}
@media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
}}