.button__subscribe {
    background-color: $blue-color;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: white;
    letter-spacing: 0.06em;
    font-weight: 700;
    padding: 10px 29px;
    transition: background-color 250ms $time-function;
    cursor: pointer;
    margin-left: 12px;

    &:hover {
        background-color: #188ce8;
    }


    @media screen and (max-width: 1199px) {
        margin-right: auto;
        margin-left: auto;
    }

}
.subscribe__input {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
width: 358px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    background-color: rgba(47, 48, 58, 1);

    @media screen and (max-width: 767px) {
        width: 100%;
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
        }}

.subscribe__icon {
    fill: $white-txt;
    display: inline-block;
    margin-left:10px;
  &:first-child{
      margin-left: 0px;
  }
}

.adress__link {
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
    margin-right: 0;
   
}

.adress__link--white {
    color: $white-txt;
    font-size: 14px;
    
}

.adress__item {
    margin-bottom: 9px;
}

.logo--white {
    display: block;
    color: $white-txt;
    margin-bottom: 20px;
    margin-right: 0;
}

.social-links__item--footer {
    background-color: rgba(255, 255, 255, 0.1); 
    margin-right: 10px;
}

.footer-icon {
    fill: white;
}



.footer {
    color: #ffffff;
    background-color: #2f323a;
    padding-top: 60px;
    padding-bottom: 60px;
    display: block;
}
.footer__item{
   
    @media screen and (max-width: 1199px) {
        text-align: center;
    
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
    
    &:first-child {
        @media screen and (min-width: 1200px) {
            margin-right: 70px;
        }
    }
}

.footer__list {
@media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
}
    
    
}

.subscribe__box{
@media screen and (min-width: 1200px){
    display: flex;
    margin-left: 93px;
}
@media screen and (max-width: 1199px){
    text-align: center;
}
}


.footer__title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
   

}

.address {
    font-style: normal;
}





.subscribe__icon {
    fill: #ffffff;
    margin-left: 10px;
}

.tablet{
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
    @media screen and (min-width: 1200px) {
        align-items: baseline;
    
       
    }
}


form{
    display: block;
    margin: 0;
}
.footer__title--subscribe{
@media screen and (min-width: 1200px) {
    margin-left: 92px;
    text-align: left;
}
@media screen and (max-width:1199px) {
   text-align: center;
}
}