
.nav {
    @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
    }
  
}
.mobile-menu {
    @media screen and (max-width: 767px) {

        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.container-header{
 
  @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
        
    }

}
.header.header__menu{
    @media screen and (max-width: 767px) {
    position: relative;
    }
}

.header{border-bottom: 1px solid #ececec;}






.logo {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    display: inline-block;
    margin-right: 93px;
    @media screen and (max-width: 767px) {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.logo__blue {
    color: $blue-color;
}
.nav__list{
    @media screen and (max-width: 767px) {
        margin-bottom: 302px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        align-items: center;
        
     
    }
}


.nav__item {
    position: relative;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    @media screen and (min-width: 768px) {
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}

.nav__link {
    display: inline-block;
    color: #212121;
    text-decoration: none;
    font-weight: 500;
    font-family: "Roboto";
    transition: color 250ms $time-function;
    position: relative;
    display: inline-block;
    @media screen and (max-width: 767px) {
        color: $black-txt;
        font-size: 40px;
        line-height: 1.18;
    }
    
    @media screen and (min-width: 768px) {
        color: $black-txt;
        font-size: 14px;
        line-height: 1.14;
    padding: 32px 0;
    }
    }
    



.nav__link
{
    &:hover,
    &:focus {
        color: $blue-color;
        fill: $blue-color;
    }
}
.nav__link--current {
    color: $blue-color;

    @media screen and (min-width: 768px) {
color: $blue-color;
  &::after{
position: absolute;
content: "";
 display: block;
 width: 100%;
height: 4px;
 background-color: $blue-color;
bottom: -1px;
left: 0;
transition: opacity 250ms $time-function;
border-radius: 2px;
   }}
}



.contacts__icon {
    margin-right: 10px;
    fill: rgba(117, 117, 117, 1);
    transition: fill 250ms $time-function;
    @media screen and (max-width: 767px){
        display: none;
    }
}
.header__button{
    top: 1;
    right: 0;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 2;
    @media screen and (min-width:768px) {
        display: none;
    }
}
.header__button .icon-cross{
    display: none;
}
.header__button.is-open .icon-cross{
    display: block;
}
.header__button.is-open .icon-menu{
    display: none;
}

    
    
.header__backdrop {
    @media screen and (max-width: 767px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $white-txt;

        display: none;

        &.is-open {
            display: block;
        }
    }

    @media screen and (min-width: 768px) {
        width: 100%;
    }
}

.header__menu-container{
    @media screen and (max-width: 767px) {  
        width: 480px;
        padding: 48px 40px;
        margin-right: auto;
        margin-left: auto;
    }
    
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
}


.header__social-links{
    @media screen and (max-width: 767px) {
    display: flex;
        
    }
    
    @media screen and (min-width: 768px) {
       
     display: none;
        
    }
    
   
}
.header__social-links__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.header__social-links__item:not(:first-child) {
    padding-left: 10px;
}

.header__social-links-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.header__social-links__link {
    color: #2196f3;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts{
    @media screen and (max-width: 767px) {
        position: relative;

        padding-top: 72px;
        margin-bottom: 64px;
    }
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: center;
        }
    }

    .contacts__item:not(:last-child) {
        @media screen and (max-width: 1199px) {
            margin-bottom: 10px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-right: 30px;
        }
    }
    .contacts__item{
        text-align: center;
    }
    .contacts__link {
        display: block;
    
        font-weight: 500;
        letter-spacing: 0.02em;
    
        text-decoration: none;
    
        @media screen and (max-width: 767px) {
            font-size: 24px;
            line-height: 1.17;
    
            color: #757575;
    
            &--blue {
                position: absolute;
                top: 0;
                text-decoration: none;
                color: $blue-color;
                font-size: 34px;
                line-height: 1.18;
                font-weight: 500;
            }
        }
    
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
    
            font-size: 12px;
            line-height: 1.17;
    
            color: $gray-txt;
            fill: $gray-txt;
    
            transition: color 250ms $time-function, fill 250ms $time-function;
    
            &:hover,
            &:focus {
                color: $blue-color;
                fill: $blue-color
            }
            &--blue{
                text-decoration: none;
                font-size: 12px;
                line-height: 1.17;
                color: #757575;
                display: flex;
                align-items: center;
            }
        }
    
        @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: 1.14;
    
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }
    .header__social-links {
        @media screen and (max-width: 767px) {
            display: flex;
        }
    
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    
    .header__social-links-item {
        &:not(:first-child) {
            padding-left: 10px;
        }
    
        &:not(:last-child) {
            padding-right: 10px;
            border-right: 1px solid rgba(33, 33, 33, 0.2);
        }
    }
    
    .header__social-links-link {
        color: $blue-color;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    
        text-decoration: none;
    }
    .header__menu-container {
        @media screen and (max-width: 767px) {
            width: 480px;
            padding: 48px 40px;
            margin-right: auto;
            margin-left: auto;
        }
    
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }