.hero__title {
    margin-bottom: 30px;
    font-family: 'Roboto';
    color: $white-txt;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
   

    @media screen and (max-width: 1199px) {
        font-size: 26px;
        width: 360px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        width: 696px;
    }
}

.hero {
    border-bottom: 1px solid #ececec;
    margin-bottom: 0;
}

section.hero {
    background-color: #2f303a;
    color: $white-txt;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media screen and (min-width: 1200px) {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
height: 600px;}
    
    @media screen and (max-width: 767px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/Header-mobile.jpg);
    
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/Header-mobile2x.jpg);
        }
    
    }
    
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/Header-tablet.jpg);
    
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/Header-tablet2x.jpg);
        }
       
    }
    
   
    
    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/img.jpg);
        padding-top: 200px;
        padding-bottom: 200px;
    
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/Header-desktop2x.jpg);
        }
    }

   
}

.hero__button {
    background-color: $blue-color;
    color: $white-txt;
    font-size: 16px;
    line-height: 1.88;
    border: none;
    min-height: 50px;
    min-width: 200px;
    padding: 10px 32px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000026;
    border-radius: 4px;
    margin-top: 30px;
    transition: background-color 250ms $time-function;
    &:hover,
    &:focus{
        background-color: #188ce8;
    }
}
